footer
    margin $rem(100) 0 $rem(30)
    +mobile()
        margin $rem(45) 0 $rem(30)
    .center
        max-width 700px
        border-top 1px solid #000
    .wrapper
        display flex
        justify-content space-between
        align-items center
        padding $rem(20) $rem(20) $rem(40)
        +mobile()
            flex-direction column
    nav
        display flex
        sackers 11
        font-size 11px
        a + a
            margin-left $rem(40)
        +mobile()
            width 100%
            max-width 280px
            justify-content space-between
            a + a
                margin 0
    .telefone
        margin 0
        sackers 11
        font-size 11px
        +mobile()
            margin 1.5em 0
    .social
        display flex
        a
            width 12px
            height 12px
            background-size 100% auto
            background-position center
            background-repeat no-repeat
            text-indent -9999px
            + a
                margin-left 4px
            &.facebook
                background-image $img('ico-facebook.svg')
            &.instagram
                background-image $img('ico-instagram.svg')
            &.pinterest
                background-image $img('ico-pinterest.svg')
    .copyright
        border-top 1px solid #ddd
        padding-top 10px
        p
            margin 0
            montserrat 9 light
            font-size 9px
            text-align center
            color #888
            a:hover
                color #333
            +mobile()
                span
                    display block
                    font-size 0
