header
    height 100px
    border-top 1px solid #ddd
    +mobile()
        height auto
        padding 30px 0
    .center
        max-width 685px
        height 100%
        display flex
        align-items center
        justify-content space-between
        +mobile()
            flex-wrap wrap
            justify-content center
    .logo
        width 290px
        height 16px
        background $img('marca-patriciawestphal.svg') no-repeat center
        background-size auto 100%
        text-indent -9999px
        +mobile()
            width 100%
            height 14px
            order -1
            margin-bottom 20px
    .nav
        width 80px
        sackers 11
        font-size 11px
        transform translateY(2px)
        +mobile()
            margin 0 20px
