.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.fancybox-nav span
    visibility visible

.fancybox-prev span
    background $img('seta-esquerda-w.svg') no-repeat center
    background-size 100% auto
    left -44px

.fancybox-next span
    background $img('seta-direita-w.svg') no-repeat center
    background-size 100% auto
    right -44px
