desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap')
@font-face
    font-family 'Sackers Gothic Light AT'
    src url('../fonts/SackersGothicLightAT.woff2') format('woff2'),
        url('../fonts/SackersGothicLightAT.woff') format('woff'),
        url('../fonts/SackersGothicLightAT.ttf') format('truetype')
    font-weight 300
    font-style normal

montserrat($size, $weight = normal, $style = normal)
    font-size $rem($size)
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300

sackers($size, $style = normal)
    font-size $rem($size)
    font-family 'Sackers Gothic Light AT', 'Helvetica', 'Arial', sans-serif
    font-weight 300
    font-style $style
