.contato
    .center
        padding-top $rem(35)
        display flex
        justify-content space-between
        +mobile()
            display block
    form
        width (450 / 1200 * 100%)
        +mobile()
            width 100%
            margin-bottom $rem(30)
            text-align center
        .telefone
            sackers 16
            margin 0
        a
            montserrat 14 light
            display inline-block
            margin 0 0 2.5em
        input
        textarea
            display block
            width 100%
            border 1px solid #ddd
            montserrat 12 light
            font-size 12px
            padding 0 10px
            outline 0
            margin-bottom 5px
        input
            height 24px
        textarea
            height 100px
            resize none
            padding 6px 10px
        input[type=submit]
            display block
            background $img('seta-direita.svg') no-repeat center transparent
            background-size 10px auto
            font-size 0
            height auto
            width 30px
            margin-left 5px
            cursor pointer
        .wrapper
            display flex
            align-items stretch
        .flash
            border-radius 3px
            background #333
            color #fff
            margin-bottom 10px
            padding 10px
            montserrat 13
    .informacoes
        width (600 / 1200 * 100%)
        .endereco
            sackers 12
            font-size 12px
            line-height 1.5
            margin 0 0 $rem(40)
        .mapa
            width 100%
            height 260px
            iframe
                width 100%
                height 100%
                display block
        +mobile()
            width 100%
            .endereco
                margin-bottom $rem(25)
