.home
    text-align center
    img
        display block
        max-width 100%
        margin 0 auto
    .texto
        margin $rem(68) auto
        max-width 550px
        +mobile()
            margin $rem(30) auto
        p
            montserrat 14
            margin 0
            line-height 2
            color #333
            + p
                margin-top 2.5em
