.portfolio
    .projeto
        display block
        width 100%
        &:hover img
            opacity .75
        + .projeto
            margin-top $rem(75)
            +mobile()
                margin-top $rem(30)
        img
            display block
            width 100%
            transition opacity .3s
        .titulo
            display flex
            justify-content flex-end
            align-items center
            margin-top $rem(14)
            span
                flex 0 1 $rem(200)
                height 1px
                background #000
                +mobile()
                    display none
            p
                text-align right
                sackers 16
                margin 0
                margin-left $rem(16)
                transform translateY(2px)
                text-transform lowercase
                white-space nowrap
                line-height 1
                +mobile()
                    white-space normal
